# [作業目標]
- 使用 Day 12 剛學到的方法, 對較完整的資料生成離散化特徵
- 觀察上述離散化特徵, 對於目標值的預測有沒有幫助

# [作業重點]
- 仿照 Day 12 的語法, 將年齡資料 ('DAYS_BIRTH' 除以 365) 離散化
- 繪製上述的 "離散化標籤" 與目標值 ('TARGET') 的長條圖

In [1]:
# 載入需要的套件
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# 設定 data_path
dir_data = './data/'

### 之前做過的處理

In [2]:
# 讀取資料檔
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)
app_train.shape

(307511, 122)

In [5]:
# 將只有兩種值的類別型欄位, 做 Label Encoder, 計算相關係數時讓這些欄位可以被包含在內
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

# 檢查每一個 column
for col in app_train:
    if app_train[col].dtype == 'object':
        # 如果只有兩種值的類別型欄位
        if len(list(app_train[col].unique())) <= 2:
            # 就做 Label Encoder, 以加入相關係數檢查
            app_train[col] = le.fit_transform(app_train[col])            
print(app_train.shape)
app_train.head()

(307511, 122)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,0,M,0,1,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,0,F,0,0,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,1,M,1,1,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,0,F,0,1,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,0,M,0,1,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
# 受雇日數為異常值的資料, 另外設一個欄位記錄, 並將異常的日數轉成空值 (np.nan)
app_train['DAYS_EMPLOYED_ANOM'] = app_train["DAYS_EMPLOYED"] == 365243
app_train['DAYS_EMPLOYED'].replace({365243: np.nan}, inplace = True)

# 出生日數 (DAYS_BIRTH) 取絕對值 
app_train['DAYS_BIRTH'] = abs(app_train['DAYS_BIRTH'])

## 練習時間
參考 Day 12 範例程式，離散化你覺得有興趣的欄位，並嘗試找出有趣的訊息

In [7]:
age_data = app_train[['TARGET', 'DAYS_BIRTH']] # subset
age_data['YEARS_BIRTH'] = age_data['DAYS_BIRTH'] / 365
age_data

C:\Users\bangb\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

        TARGET  DAYS_BIRTH  YEARS_BIRTH
0            1        9461    25.920548
1            0       16765    45.931507
2            0       19046    52.180822
3            0       19005    52.068493
4            0       19932    54.608219
5            0       16941    46.413699
6            0       13778    37.747945
7            0       18850    51.643836
8            0       20099    55.065753
9            0       14469    39.641096
10           0       10197    27.936986
11           0       20417    55.936986
12           0       13439    36.819178
13           0       14086    38.591781
14           0       14583    39.953425
15           0        8728    23.912329
16           0       12931    35.427397
17           0        9776    26.783562
18           0       17718    48.542466
19           0       11348    31.090411
20           0       18252    50.005479
21           0       14815    40.589041
22           0       11146    30.536986
23           0       24827    68.019178
24           0       11286    30.920548
25           0       19334    52.969863
26           1       18724    51.298630
27           0       15948    43.693151
28           0        9994    27.380822
29           0       10341    28.331507
...        ...         ...          ...
307481       1       20644    56.558904
307482       0       14106    38.646575
307483       0       24911    68.249315
307484       0       12847    35.197260
307485       0       11973    32.802740
307486       0       16010    43.863014
307487       0       23125    63.356164
307488       0       10092    27.649315
307489       1       16471    45.126027
307490       0        9874    27.052055
307491       0       10976    30.071233
307492       0       20965    57.438356
307493       0       17533    48.035616
307494       0       14958    40.980822
307495       0       20922    57.320548
307496       0       17345    47.520548
307497       0       16679    45.695890
307498       0       19102    52.334247
307499       0       16988    46.542466
307500       0       20390    55.863014
307501       0       12961    35.509589
307502       0       16063    44.008219
307503       0       11870    32.520548
307504       0       16705    45.767123
307505       0       24384    66.805479
307506       0        9327    25.553425
307507       0       20775    56.917808
307508       0       14966    41.002740
307509       1       11961    32.769863
307510       0       16856    46.180822

[307511 rows x 3 columns]

In [9]:
age_data['YEARS_BIRTH'] = pd.cut(age_data['YEARS_BIRTH'], 10)
age_data['YEARS_BIRTH'].value_counts()

C:\Users\bangb\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

(35.099, 39.959]    41758
(39.959, 44.819]    40350
(30.238, 35.099]    38430
(44.819, 49.679]    34311
(49.679, 54.54]     33544
(25.378, 30.238]    33127
(54.54, 59.4]       32650
(59.4, 64.26]       27685
(20.469, 25.378]    13679
(64.26, 69.121]     11977
Name: YEARS_BIRTH, dtype: int64